body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100%;
}

.header,
.main1,
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    flex: 0;
    justify-content: space-between;
    padding-top: 8px;
    padding-left: 100px;
    padding-right: 100px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style: none;
    display: inline-flex;
    gap: 12px;
    color: white;
}

a:link {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.right-links {
    color: #E5E7EB;
}

.content {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.main1 {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 48px 100px;
}

.main1-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 500px;
}

.awesome {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    text-wrap: wrap;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    text-wrap: wrap;
}

.button1,
.button2 {
    background: #3882F6;
    color: white;
    border-radius: 5px;
    flex-shrink: 0;
}

.button2 {
    border-color: white;
}

.main1-right {
    display: flex;
    justify-content: left;

}

.main2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    padding: 24px;
}

.cards {
    display: flex;
    gap: 18px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 48px;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.image {
    display: block;
    margin: auto;
}

.caption {
    text-align: center;
    text-wrap: wrap;
    font-size: 12px;
    padding-top: 8px;
}

.main3 {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    padding: 48px;
}

.tolkien {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}

.main4 {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    color: white;
    margin: 48px 100px;
    padding: 24px 48px;
    gap: 72px;
    border-radius: 15px;
}

.action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
}

.call {
    font-size: 24px;
    font-weight: bold;
}

.button2 {
    display: block;
    margin: auto;
}

.footer {
    display: flex;
    flex: 0;
}